.modal-pin {
    all: none;
    width: 100px;
    height: 40px;
    border-radius: 24px;
    background-color: white;
    border-color: #E60023;
    color: black;
    border-style: none;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
    cursor: pointer;
    /* padding-top: 5px; */
}

.pin-form-page {
    margin: 0px;
    padding: 0px;
    height: 863px;
    width: 100%;
    background-color: #E9E9E9;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 80px;

}

/* how do I change the body color to grey?*/

.pin-form-module {
    width: 880px;
    height: 700px;
    display: flex;
    justify-content: center;

}

.pin-form {
    background-color: white;
    border-style: none;
    width: 880px;
    border-radius: 16px;
    margin-top: 30px;
}

/* .pin-form {
    border-style: none;
    display: flex;
    flex-direction: row;
    height: 700px;
    width: 880px;
    border-radius: 16px;
    margin-top: 40px;
    background-color: white;
    justify-content: space-around;
    align-items: center;
} */

.pin-form-wrapper {
    display: flex;
    padding: 40px;
    flex-direction: column;
}

.dotdotdot {
    font-size: 50px;
    border-style: none;
    background-color: white;
    background-image: url(../../../assets/three-dots-svgrepo-com.svg);
    background-size: 20px;
    width: 40px;
    height: 40px;
    opacity: 50;
    background-repeat: no-repeat;
    background-position: center;
}

.dotdotdot:hover {
    background-color: rgb(208, 208, 208);
    border-radius: 50px;
}

.submit-bar {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.save-and-board{
    display:flex;
}

.save-input {
    height: 40px;
    width: 65px;
    background-color: rgb(230, 0, 35);
    border-radius: 0px 8px 8px 0px;
    border-style:none;
    color: white;
    font-size: 16px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.board-dropdown {
    height: 40px;
    border-radius: 8px 0px 0px 8px;
    border-style:none;
    background-color: rgb(239, 239, 239);
    padding: 0px;
}

.input-area-wrapper {
    display: flex;
    flex-direction: row;
}

.image-upload-area {
    padding-left: 20px;
    padding-right: 20px;
    /* display: flex; */
}

.image-upload {
    height: 497px;
    width: 271px;   
}

img {
    height: 494px;
    width: 271px;
    border-radius: 15px;
    image-rendering: fit;
    object-fit: cover;
}

.image-upload-dashed {
    height: 465px;
    width: 240px;
    z-index: 2;
    border-style: dashed;
    border-color: #ddd;
    border-width: 2px;
    border-radius: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-upload-background {
    height: 494px;
    width: 271px;
    position: absolute;
    background-color: #f0f0f0;
    border-radius: 10px;
    z-index: 0;
}

.image-upload-button-wrapper {
    height: 494px;
    width: 271px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* outline-style: dashed; */
    border-radius: 10px;
    z-index: 1
    /* outline-width: 2px;
    outline-color: #ddd;
    outline-offset: -15px; */
}

.image-upload-button {
    height: 494px;
    width: 271px;
    position: absolute;
    /* background-color: #f0f0f0;
    outline-style: dashed;
    border-radius: 10px;
    outline-width: 2px;
    outline-color: #ddd;
    outline-offset: -15px; */
    z-index: 3;
}

.image-upload-icon {
    background-image: url(../../../assets/up-arrow-circle.svg);
    height: 26px;
    width: 26px;
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 25px;
}
.image-upload-icon-text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px
}

::file-selector-button {
    display: none;
}

input[type='file'] {
  color: transparent;
}

.save-from-site-div {
    height: 56px;
    width: 100%;
    padding-top: 10px;

}

.save-from-site-button {
    all: none;
    width: 100%;
    height: 40px;
    border-radius: 24px;
    background-color: #EFEFEF;
    border-color: #EFEFEF;
    color: #111111;
    border-style: none;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}


.pin-input-area {
    display: flex;
    flex-direction: column;
    width: 449px;
    height: 550px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}

.top-input {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding-top: 30px;
}

.title-input {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    font-size: 36px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    border-width: 1px;
    padding-bottom: 10px;
    border-color:#767676;

}

.title-input:focus {
    outline: none;
}
.current-user-graphic {
    height: 48px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding: 0px 4px 0px 4px
}

.initial-graphic-pinform {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
    font-size: 18px;
    background-color: #ddd;
    border-radius: 48px;

}

.pin-form-current-user-wrapper{
    height: 48px;
}

.pin-form-current-user {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0px 4px 0px 8px;
    font-weight: 600;
    }

.description-input {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding-top: 20px;
    height: 60px;
    border-width: 1px;
    border-color: #767676;
    padding-left: 25px

}

.description-input:focus {
    outline: none;
}

.alt-text-input {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding-top: 15px;
    font-size: 16px;
    height: 30px;
    border-width: 1px;
    border-color:#767676;

}

.alt-text-input:focus {
    outline: none;
}

.destination-input {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    width: 100%;
    font-size: 18px;
    height: 20px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-color:#767676;
    border-width: 1px;

}

.destination-input:focus {
    outline: none;
}

.remove-content-wrapper {
    height: 100%;
    display: flex;
}

.remove-content-dropdown-wrapper {
    display:flex;
    margin-top: 10px;
    border-radius: 16px;
    box-shadow: rgb(0 0 0 / 45%) 0px 0px 4px;
    height: 100px;
    width: 200px;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: white;
}