.modal-login {
    all: none;
    width: 69.36px;
    height: 40px;
    border-radius: 24px;
    background-color: #E60023;
    border-color: #E60023;
    color: white;
    border-style: none;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 500;
    cursor: pointer;
}

.modal-login:hover {
    background-color: #ad081b;
}

.login-form {
    display: flex;
    flex-direction: column;
    height: 642px;
    width: 484px;
    border-radius: 32px;
    justify-content: center;
    align-items: center;
}

.login-error{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: red;
}

.login-button {
    /* all: none; */
    width: 268px;
    height: 40px;
    border-radius: 24px;
    background-color: #E60023;
    border-color: #E60023;
    color: white;
    border-style: none;
    font-size: 15px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: bold;
    cursor: pointer;
    position: inherit;
    margin-top: 10px;
}

.login-label {
    height: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* align-items: right; */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    padding-top: 5px;
}

.login-input {
    height: 42px;
    border-radius: 16px;
    border-color: rgb(199, 199, 199);
    border-style: solid;
    padding-left: 10px;
    font-size: 15px;
}

.login-header {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 500;
    letter-spacing: -2px;
}

.login-form-wrapper {
    width: 268px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.login-pinguin-logo {
    background-image: url(../../assets/pinguin-logo.svg);
    background-size: 60px;
    width: 60px;
    height: 46px;
    background-repeat: no-repeat;
}