.user-info {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-icon {
    margin-top:  10px;
    display: flex;
    background-color: #E9E9E9;
    height: 120px;
    width: 120px;
    align-items: center;    
    justify-content: center;
    border-radius: 120px;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
}

.big-username {
    font-size: 36px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
    padding: 10px 0px;
}

.small-username {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    color: #949191
}

.create-or-save {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.user-show-create-div {
    padding: 8px;
}

.user-show-create-div:hover {
    background-color: #E9E9E9;
    border-radius: 10px;
}

.user-show-saved-div {
    padding: 8px;
}

.user-show-saved-div:hover {
    background-color: #E9E9E9;
    border-radius: 10px;
}


.user-show-saved {
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
}

.user-show-saved:hover {
}

.user-show-saved:focus {
    border-bottom-width: 3px;
    border-color: black;
    border-bottom-style: solid;
}

.user-show-created {
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
}

.user-show-created:focus{ 
    border-bottom-width: 3px;
    border-color: black;
    border-bottom-style: solid;
}

.plus-button-wrapper {
    display: flex;
    justify-content: right;
    padding-right: 50px;
}

.plus-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight:600;
    width: 30px;
    /* text-align: center; */
    border-radius: 30px;
}

