.home-button {
    background-image: url(../../assets/pinguinlogo.svg);
    background-size: 100px;
    width: 100px;
    height: 45px;
    background-position: center;;
    background-repeat: no-repeat;
}

.small-home-button {
        background-image: url(../../assets/pinguin-logo.svg);
        background-size: 25px;
        width: 43px;
        height: 43px;
        background-position: center;;
        background-repeat: no-repeat;
}

.small-home-button:hover {
    background-color: #F0F0F0F0;
    border-radius: 43px;
    /* need to remove background from image  */
}

.small-home-button:active {
    transform: scale(.9);
}

.post-form-button {
    text-decoration-line: none;
    all: none;
    display: flex;
    border-radius: 24px;
    color: #111111;
    border-style: none;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding-left: 16px;
    padding-right: 16px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 4px;
    background-color: white;
    height: 72px;
    align-items: center;
    position: fixed;
    width: 98.3%;
    z-index: 8;
}

.left-side {
    display: flex;
    width: 200px;
    /* flex-direction: space-between; */

}

.session-links {
    display: flex;
    width: 157px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.profile-menu-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50px;
    justify-content: center;
    /* justify-content: right;
    align-items: right; */
}

.profile-menu {
    height: 40px;
    width: 40px;
    background-image: url(../../assets/dropdown.png);
    background-size: 20px;
    background-position: center;
    border-color: white;
    background-color: white;
    border-radius: 40px;
    border-style: none;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.profile-menu:hover {
    background-color: rgb(222, 222, 222);
}

.profile-dropdown-wrapper {
    display:flex;
    margin-top: 10px;
    border-radius: 16px;
    box-shadow: rgb(0 0 0 / 45%) 0px 0px 4px;
    height: 100px;
    width: 200px;
    position: absolute;
    top: 50px;
    right: 15px;
    justify-content: center;
    align-items: center;
    background-color: white;

}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    width: 100%
}

.profile-dropdown li {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    width: 95%;
    text-align: center;
    font-weight: 600;
}

.profile-dropdown li:hover {
    background-color: rgb(212, 212, 212);
    border-radius: 12px;
}

.logout-button {
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    font-size: 17px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    width: 100%;
    height: 100%;
    font-weight: 600;
}

.user-link-wrapper{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-link {
    width: 30px;
    height: 30px;
    border-radius:30px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration-line: none;
}

.user-link-initial {
    font-size: 10px;
    color: black;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.profile-and-session {
    display: flex;
    flex: row;
    width: 110px;
    justify-content: space-between;
    align-items: center;
}