/* .pin-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 80px;
    flex-direction: column;
} */
.pin-index-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pin-index {
    margin-top: 80px;
    column-width: 230px;
	/* column-gap: 16px; */
    width: 87%;
    /* gap: 16px 16px; */
    /* gap: 16px; */

	/* max-width: 1100px; */ 
	/* margin: 50px auto; */
}

.pin-index-item-large {
    /* display: inline-block; */
    /* border-style: solid; */
    border-radius: 16px;
    height: auto;
    width: auto;
    display: flex;
    position: relative;
    /* padding-bottom: 16px; */
}

.index-image:hover {    
    -webkit-filter: brightness(50%);
}
/* 
.index-image {
    height: 100%;
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
    z-index: 1
} */


.edit-button-modal-index {
    height: 20px;
    width: 20px;
    position: absolute;
    /* right: 30px; */
    right: 20px;
    bottom: 35px;
}

.save-button {
    display: flex;
    position: absolute;
    width: 100%;
    align-items: space-between;
}
