/* .show-page{
    /* display: flex; */
/* align-items: center; */
/* justify-content: center; */
/* .show-page {
    display: flex;
    align-content: center;
    justify-content: center; */

.show-page {
    display: flex;
    flex-direction: row;
    /* justify-content: left; */
}

.show-wrapper {
    display: flex;
    max-width: 1016px;
    min-width: 500px;
    max-height: 925px;
    flex-direction: row;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
    border-radius: 30px 30px 30px 30px;
    overflow: hidden;
}

.show-image {
    all: unset;
    border-radius: 30px 0px 0px 30px;
    max-height: 925px;
    width: 508px;
}

.show-info-wrapper {
    max-width: 400px;
    margin: 20px 20px 0px 20px;
    /* why isn't this showing up as the height of the showpage? */
}

.show-pin-topbar {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 0px 5px 0px 5px;
}

.show-info {
    display: flex;
    flex-direction: column;
    height: 100% 
}

.show-pin-destination {
    flex: 1
}

.show-pin-title {
    flex: 3;
    font-size: 28px;
    padding-bottom: 20px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.show-pin-description {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    flex: 3;
    padding: 20px 0px;
}

.show-pin-altText {
    padding-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    flex: 1
    
}

.ps-back-button-img {
    height: 20px;
    width: 20px;
}

.ps-back-button {
    left: 10px;
    height: 20px;
}

.pin-show-graphic-user {
    padding-bottom: 20px;
}

.back-icon:hover {
    background-color: #EEEEEE;
    border-radius: 30px;

}

.comment-post-container {
    border-top-style: solid;
    border-top-color: rgb(219, 219, 219);
    border-top-width: 1px;

    position: relative;  
    height: 100px;
}

.comment-container {
    height:100px;
}

.comments-header {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
}

.comment-initial {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 30px;
    width: 30px;
    background-color: #ececec;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px
}

.comment-card {
    height: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
}

.create-comment-button {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    /* position: relative; */
    right:-8px;
    top: 28px;
    background-color: rgb(230, 0, 34);
    border-style: none;
    cursor: pointer;
}

.create-comment-button:hover {
    background-color: rgb(188, 5, 33);
}

.comment-input:focus {
    /* outline: none; */
    color: white;
}